* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: helvetica;
  color: #000000;
  height: 100%;
}
